/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
li{
	list-style-type: none;
}

/* =Reset
-------------------------------------------------------------- */

/*============ Layout ===========-*/
body{
	text-align: center;
	background-color: #EFF2F8;
}
/*container*/
.l-container{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 840px;
}

#masthead{
}
header .l-container, footer .l-container{
	max-width: 900px;
	background-color: aqua;
}
header .l-container{
	text-align: center;
}
footer, header{
	position: fixed;
	width: 100%;
}
footer{
	bottom: 0px;
}
header{
}
.l-content-container{
	background-color: #000000;
}
/*========= NAV ===========*/
.main-navigation li{
	display: inline-block;
}
h1{
	margin-top: 100px;
}