/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
	margin: 0px;
}
/* =Reset
-------------------------------------------------------------- */

/*======= Global Variables =======*/

$main-color: /*#00ADEF; #EE6B5A; #ED1976;*/ #51BB7F;
$background-color: /*#EFF3F8; #FFF1E1; #FFEEFC;*/ #EBFFF8;
$grey-color: #3A4451;
$georgia: georgia;
$open: 'Open Sans', sans-serif;
$alt-grey-color: #EFF2F8;
$secondary-color: /*#ED1976; #00ADEF; #51BB7F;*/ #EE6B5A;

/*======= mixins =======*/
@mixin text-hover{
	border-bottom: 4px solid $secondary-color;
}
@mixin btn-style{
	background-color: $main-color;
	padding: 5px 6px;
	color: #ffffff !important;
	border-radius: 2px;
	
	&:hover{
		background-color: $secondary-color;
	}
}

body{
	background-color: $background-color;
	font-family: $georgia;
}
::selection{
	background-color: $secondary-color;
	color: #ffffff;
}